@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 0.625rem;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: #f9f9f9;
  color: $lightGray;
  line-height: 1.7;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 400;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  padding: 0.8rem 2.5rem;
  border-radius: 30px;
  border: none;
  outline: none;
}

.btn-white {
  background-color: #fff;
}
.section {
  transition: transform 1s, opacity 1s;
  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}

.btn-primary {
  background-color: $secondary;
  color: #fff !important;
}
.btn-secondary {
  background-color: $primary;
  color: #fff !important;
}

.btn--outline {
  background-color: #fff;
  border: 1px solid $secondary;
}

.description {
  width: 40%;
}

.title {
  font-weight: 400;
  color: #000;
  margin-bottom: 1.5rem;
}

.description {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

h2 {
  text-align: center;
}
h3 {
  opacity: 0.9;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
p {
  font-size: 1.4rem;
}

.section {
  padding: 12rem 0;
}
.hide {
  display: none;
}
.show {
  display: block;
}

/********** Mxins *******************/
@mixin flex {
  display: flex;
  align-items: center;
}
@mixin flex__sp--between {
  justify-content: space-between;
}

@mixin flex__ct--center {
  justify-content: center;
}

@mixin grid {
  display: grid;
}
@mixin grid__sp--between {
  align-items: center;
  justify-content: space-between;
}

.card {
  background-color: #fff;
  box-shadow: 1px 1px 1px 0px rgb(169 169 169 / 13%);
  border-radius: 15px;
  overflow: hidden;
}

.form {
  @include flex();
  flex-direction: column;

  input {
    margin: 0.5rem 0;
    width: 100%;

    &:not(:last-child) {
      color: rgb(69, 69, 69);
      padding: 1.5rem 1rem;
      outline: none;
      border: none;
      margin-bottom: 0.5rem;
      border-radius: 20px;
      border: 1px solid rgb(183, 183, 183);
    }
    &:focus {
      box-shadow: 0 1px 1px 1px $secondary;
      border: none;
    }
    &:last-child {
      color: $secondary;
      width: 100px;
      padding: 1.3rem 2rem;
      margin: 1rem auto 0;
      cursor: pointer;
      transition: background 300ms ease-in-out;
      &:hover {
        background: $secondary;
        color: #fff;
      }
    }
    &::placeholder {
      font-size: 13px;
      opacity: 0.5;
    }
  }
}
