.hero {
  background-color: $primary;
  background-image: linear-gradient(265deg, $accent, $primary);
  position: relative;
  padding: 1rem 0;

  nav {
    @include flex;
    @include flex__sp--between;
    .logo img {
      width: 80px;
    }

    //TODO display on mobile
    .btn-menu {
      display: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      .fa-solid,
      .fas {
        font-size: 3rem;
      }
    }

    .navbar-menu {
      opacity: 1;
      list-style-type: none;
      .exitMenu {
        display: none;
      }
      li {
        display: inline-block;

        &:not(last-child) {
          margin-left: 2rem;
        }
        a {
          text-decoration: none;
          color: $gray;
        }
        //TODO: Dark mode
        .dark--mode {
          @include flex;
          @include flex__ct--center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #fff;
          text-align: center;
          .fa-solid.fa-moon {
            font-size: 2.5rem;
            color: #000;
            cursor: pointer;
          }
        }
      }
    }
  }

  .sticky {
    position: fixed;
    background-color: #fff;
    z-index: 999;
    top: 0;
    width: 90%;
  }
  .show {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    display: block !important;
  }

  .hidde {
    display: none;
  }
  .wrapper {
    @include flex;
    @include flex__ct--center;
    flex-direction: column;

    &__content {
      @include grid;
      @include grid__sp--between;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      .left-items {
        color: #fff;
        span {
          background-color: $secondary;
        }
        h1 {
          font-size: 4rem;
          margin-bottom: 1rem;
          line-height: 5rem;
          color: #fff;
          font-weight: 700;
        }
        p {
          color: $gray;
          margin-bottom: 1rem;
        }

        .input-group {
          background-color: #fff;
          @include flex;
          @include flex__sp--between;
          border-radius: 26px;
          box-sizing: border-box;
          padding: 0.5rem 2rem;
          width: 30.5rem;
          margin-top: 3rem;
          #search {
            border: none;
            width: 100%;
            outline: none;
          }
          .btn-primary {
            padding: 1rem 2.5rem;
            margin-right: -10px;
          }
        }
      }
      .right-items {
        img {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}
@media screen and (max-width: 968px) {
  .hero {
    background-image: linear-gradient(357deg, #f6f7d7, #3ec1d3);
    nav {
      .btn-menu {
        display: block;
      }
      .navbar-menu {
        display: none;
        position: fixed;
        background-color: #3ec1d3;
        width: 100%;
        height: 100vh;
        right: 0;
        top: 0;
        text-align: center;
        z-index: 999;
        .exitMenu {
          display: block;
          position: absolute;
          top: 40px;
          right: 0;
          margin-right: 30px;
          font-size: 2.5rem;
          color: #fff;
          cursor: pointer;
        }
        li {
          margin-bottom: 2rem;
          &:nth-child(2) {
            margin-top: 20%;
          }
          display: block;
        }
      }
    }
    .wrapper {
      margin-top: 5rem;
      &__content {
        grid-template-columns: 1fr;

        .left-items {
          text-align: center;
          h1 {
            font-size: 3rem;
          }
          p {
            width: 88%;
            margin: 0 auto;
          }

          .input-group {
            margin: 3rem auto;
          }
        }
      }
    }
  }
}
