.testimonials {
  background: linear-gradient(
    180deg,
    rgba(62, 193, 211, 0.47) -5.91%,
    rgba(62, 193, 211, 0) 100%
  );

  &__content {
    padding: 10rem 0;
    position: relative;
    .btn__right,
    .btn__left {
      position: absolute;
      bottom: 50%;
      cursor: pointer;
    }
    .btn__right {
      right: 0;
      z-index: 10;
    }
    .btn__left {
      left: 0;
      z-index: 10;
    }
  }

  .cards {
    position: relative;
    width: 50%;
    height: 20rem;
    margin: 50px auto;
    overflow: hidden;
    .card {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 2rem;
      border-radius: 15px;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1.6rem;
      transition: transform 0.8s ease-in;

      &__header {
        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      &__body {
        p {
          font-size: 1.35rem;
          position: relative;
          &::before,
          &::after {
            font-family: "Font Awesome 6 Free";
            font-weight: 700;
          }
          &::before {
            content: "\f10d";
            position: absolute;
            top: -5px;
            left: -10px;
          }
          &::after {
            content: "\f10e";
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
        cite {
          color: $secondary;
          font-size: 1.2rem;
          margin-top: 2rem;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .testimonials {
    .cards {
      width: 100%;
      .card {
        width: 100%;
      }
    }
  }
}
